<!-- templates/base.html -->
{% url 'expeditions' as expeditions %}
{% url 'digital' as digital %}
{% url 'informants' as informants %}
{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  
<head>
  <title>
    {% block title %}
    Банк данных фольклорно этнографических экспедиций
    {% endblock %}
  </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" >
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
 <script src="{% static "js/jouele.min.js" %}"></script>
  <link href="{% static "css/jouele.min.css" %}" rel="stylesheet"/>
  {%block advancedhead%}
  {%endblock%}
</head>
<body>
  <br><h2 class="text-center">Банк данных экспедиционных записей</h2>
  <br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'map' %}">Главная</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a {% if request.path == expeditions %}
            class="nav-link active" aria-current="page"
            {% else %} class="nav-link"
            {% endif %} href="{% url 'expeditions' %}">Экспедиции</a>
          </li>
          <li class="nav-item">
            <a {% if request.path == digital %} class="nav-link active" aria-current="page"
            {% else %} class="nav-link"
            {% endif %} href="{% url 'digital' %}">Записи</a>
          </li>
          <li class="nav-item">
            <a {% if request.path == informants %}
            class="nav-link active" aria-current="page"
            {% else %} class="nav-link"
            {% endif %} href="{% url 'informants' %}">Исполнители</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Админ панель</a>
          </li>
        </ul>
      </div>
      {% if digital == request.path or informants == request.path %}
      <form class="d-flex my-2 my-lg-0" action="{{request.path}}">
        <input class="form-control mr-sm-0" type="search" placeholder="Поиск" aria-label="Search" name="search">
        <button class="btn btn-outline-light my-2 my-sm-0 m-2" type="submit"><span class="bi bi-search"></span></button>
      </form>
      {% endif %}
    </div>
  </nav>
  <div class="row">
    <div class="col">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</body>
</html>
