<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <title>
    {% block title %}
    Банк данных фольклорно этнографических экспедиций
    {% endblock %}
  </title>
  <meta charset="utf-8">
  {%include 'jscss.html'%}
  {%block advancedhead%}
  {%endblock%}
</head>
<body>
  <br>
  <h1 class="text-center display-6">Банк данных экспедиционных записей</h1>
  {%include 'nav.html'%}
  <br>
  <div class="row m-5">
    <div class="col">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</body>
</html>
