<!-- templates/digitalmedia.html -->
{% extends 'base.html' %}
{% block title %}
Список аудио файлов
{% endblock%}
{% block content %}
<br>
<h2 class="text-center text-muted">Аудиозаписи</h2>
<p class="text-center text-muted">Для поиска записи используйте форму ввода в меню
  Поиск работает по полю ID записи</p> <br>
  <div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Сеанс записи</th>
            <th>аудио</th>
            <th>описание</th>
            <th>подробнее</th>
          </tr>
        </thead>
        <tbody>
          {% for dm in model %}
          <tr>
            <td>{{ dm.seans }}</td>
            <td><a  href="{{ dm.fileupl.url }}" class="jouele" data-space-control="true">{{ dm.id_of_digitl_media }}</a></td>
            <td>{{ dm.file_description|linebreaks }}</td>
            <td><a href="{% url 'dm_detail' dm.id_auto %}" class="btn btn-secondary">подробнее</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% include 'pagination.html' %}
{% endblock content %}
