<!-- templates/expeditions.html -->
{% extends 'base.html' %}
{% block title %}
Список экспедиций
{% endblock%}

{% block content %}
<br><h3 class="text-center text-muted">Список экспедиций</h3> <hr>
<div class="row justify-content-center">
  <div class="col-auto">
    <table class="table table-striped">
      <tr>
        <th>Организация</th>
        <th>Дата начала экспедиции</th>
        <th>Руководитель</th>
        <th>Сеансы записи</th>
      </tr>
      {% for exp in explist.object_list %}
      <tr>
        <td>{{ exp.organisation_expedition }}</td>
        <td>{{ exp.begin_data_expedition }}</td>
        <td>{{ exp.researcher_expedtion }}</td>
        <td><a href='{% url "seances" exp.pk %}' class="btn btn-secondary">Подробнее</a></td>
      </tr>
      {% endfor %}
    </table>





<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not prev_url%} disabled {% endif %}">
      <a class="page-link" href="{{ prev_url }}"tabindex="-1">Назад</a>
    </li>


  {% for n in explist.paginator.page_range %}
  {% if explist.number == n %}
  <li class="page-item active" aria-current="page">
    <span class="page-link">{{ n }}</span>
  </li>
  {% elif n > explist.number|add:-2 and n < explist.number|add:3 %}

  <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
  {% endif %}
  {% endfor %}
  <li class="page-item {% if not next_url%} disabled {% endif %}">
    <a class="page-link" href="{{ next_url }}"tabindex="-1">Вперёд</a>
  </li>
</ul>
</nav>
</div>
</div>
{% endblock content %}
