{% extends 'base.html' %}
{% block title %}
Информант {{objects.fio}}
{% endblock %}
{% block content %}
<br>
  <div class="container">
<table class='table table-bordered  rounded shadow'>
<thead class="table-secondary">
  <tr>
    <th scope="col">ФИО</th>
    <th scope="col">Год рождения</th>
    <th scope="col">Место проживания</th>
  </tr>
</thead>
<tbody>
<tr>
  <td>{{infdetail.fio}}</td>
  <td>{{infdetail.date_of_birth}}</td>
  <td>{{ infdetail.place_of_residence}}</td>
</tr>
</tbody>
</table>
<table class='table table-bordered  rounded shadow'>
<thead class="table-secondary">
  <tr>
    <th>Дополнительно</th>
    <th>Фото</th>
</tr>
</thead>
<tr>
  <td>{{infdetail.info_informant}}</td>
  <td>{% if infdetail.img_informant %}<img src="{{infdetail.img_informant.url}}"  height="250" class="shadow">{%else%}
    <h1 class='bi bi-person-square'></h1>
    {%endif%}
  </td>
</tr>
<tr>
  <td colspan="2">
    {% for s in seances %}
    {{ s }} <a href="{% url 'digital' s.id_of_seance_of_record  %}" class="btn btn-outline-dark btn-sm m-1">Аудио</a>
    <a href="{% url 'video' s.id_of_seance_of_record  %}" class="btn btn-outline-dark btn-sm m-1">Видео</a>
    <a href="{% url 'photo' s.id_of_seance_of_record  %}" class="btn btn-outline-dark btn-sm m-1">Фото</a>
    <a href="{% url 'reestr' s.id_of_seance_of_record  %}" class="btn btn-outline-dark btn-sm m-1">Реестры</a><br> <hr>
    {% endfor %}
  </td>
</tr>
</table>
</div>
{% endblock %}
