{% extends 'base.html' %}
{% block title %}
Информанты
{% endblock %}
{% block content %}
<h2 class="text-center text-muted">Информанты</h2>
<div class="row justify-content-center">
  <div class="col-auto">
<table class="table table-striped">

{% for i in model %}
<tr>
<td>{{i.fio}}</td>
<td>{{i.date_of_birth}}</td>
<td>{{i.place_of_residence}}</td>
<td><a href="{{i.id}}" class="btn btn-secondary">Подробнее</a></td>
</tr>
{% endfor %}
</table>
{% include 'pagination.html' %}
</div>
</div>


{% endblock %}
