{% extends 'base.html' %}
{% load spec_filters%}
{% block title %}
Список обследованных населенных пунктов
{% endblock %}
{% block content %}
<br>
<h2 class="text-center text-secondary">Список обследованных населенных пунктов</h2>
<br>
<div class="container w-75">
  <div class="row">

<div class="col">

  <table class="table table-bordered shadow">
    {%for i in model.object_list %}
    <tr><td colspan="2" class="table-secondary"><h4>{{i}}</h4></td></tr>
    <tr>
      {%for r in i.rajon.all%}
      <td class="text-center"><b>{{r}}</b></td>
      <td class="p-3 text-center">{%for n in r.naspunkt.all %} <li><a href="{% url 'seanceofgeo' n.id %}" class="link-dark"> {{n}}</a></li> {%endfor%} </td>
    </tr>
    {%endfor%}
    {%endfor%}
  </table>
  {%include 'pagination.html'%}
</div>
<div class="col-sm text-center">
{% locate_tag as list%}
<div class="list-group">

{% for o in list %}
<a href="{% url 'locate_select' o.id %}" class="list-group-item list-group-item-action shadow">{{o}}</a><br>
{%endfor%}
</div>
</div>
</div>
</div>
{%endblock%}
