{% extends 'base.html' %}
{% block title %}
Материалы экспедиции
{% endblock%}

{% block content %}
<br><h3 class="text-center text-muted">Материалы сеанса записи</h3><br>

  <div class="container">
    <table class="table table-striped">
      <tr>
      <!--  <th>ID медиафайла</th> -->
        <th>Аудио</th>
        <th>Описание</th>
        <th>Подробнее</th>
      </tr>
      {% for media in mat %}
      <tr>
        <!-- <td>{{ media.id_of_digitl_media }}</td> -->
        <td class="table-secondary"><a href="{{ media.fileupl.url }}" class="jouele" data-space-control="true" >{{ media.id_of_digitl_media }}</a></td>
        <td>{{ media.file_description|linebreaks}}</td>
        <td><a href="{% url 'dm_detail' media.id_auto %}" class="btn btn-secondary">Подробнее</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}
