{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
 <div class="container">
        <div class="row">
<div class="col-md-9">
                <div class="row">

                    {% for photo in photo %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <a data-fancybox="gallery" href="{{photo.photo_file.url}}">
                                <img src="{{photo.photo_file.url}}" class="img-fluid"></a>
                            <div class="card-body">
                                <small>Описание: {{photo.description_photo}}</small>
                            </div>
                        </div>
                    </div>

                    {% empty %}
                    <h3>No photos...</h3>
                    {% endfor %}

                </div>
          </div>
        </div>
 </div>


{% endblock content %}