{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}

<table class="table table-striped shadow">
        <thead>
          <tr class="table-secondary">
            <th>Фото</th>
            <th>Сеанс записи ID</th>
            <th>Описание</th>
          </tr>
        </thead>
        <tbody>
         {% for p in photo %}
          <tr>
            <td><img src="{{p.photo_file.url}}" class="img shadow" style="max-width: 50%;"></td>
            <td>{{ p.seans }}<br>
            {{p.id_of_digitl_media}}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>




{% endblock content %}l>