{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}
<br><h4 class="text-center text-muted" >Реестры</h4><hr>

<div class="container">
        <div class="row">
<div class="col-md-9">
                <div class="row">

                    {% for v in reestr_req%}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <a data-fancybox="gallery" href="{{v.reestr_file.url}}">
                                <img src="{{v.reestr_file.url}}" class="img-fluid"></a>
                            <div class="card-body">
                                <small> ID: {{v.id_of_digitl_media}}</small>
                            </div>
                        </div>
                    </div>

                    {% empty %}
                    <h3>Ничего не загружено...</h3>
                    {% endfor %}

                </div>
          </div>
        </div>
 </div>



{% endblock content %}l>