<!-- templates/seances.html -->
{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
<br><h4 class="text-center text-muted" >Сеансы записи населенного пункта</h4><hr>
  <div class="container">
    <table class="table table-striped shadow">
      <tr>
        <th>Место записи</th>
        <th>Дата записи</th>
        <th>Информанты</th>
        <th>Материалы</th>
      </tr>
      {% for seance in seances_list %}
      <tr>
        <td>{{ seance.place_of_record }}</td>
        <td>{{ seance.data_seans_of_record }}</td>
        <td>{% for inf in seance.informant_of_seanse.all %}
          <p class="card-text">{{ inf }}</p>
          {% endfor %}</td>
          <td><a href="{% url 'digital' seance.id_of_seance_of_record %}" class="btn btn-secondary shadow">Аудио</a>
          <a href="{% url 'video' seance.id_of_seance_of_record  %}" class="btn btn-secondary shadow">Видео</a>
            <a href="{% url 'reestr' seance.id_of_seance_of_record  %}" class="btn btn-secondary shadow">Реестры</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  {% endblock content %}
