{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}

 <div class="container">
        <div class="row">
<div class="col-md-9 bg-light rounded">
                <div class="row">

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        Номер фрагмента: {{timingdigitalmedia.number_of_timestamp}}<br>
                        Описание фрагмента: {{timingdigitalmedia.text_for_time_stamp}}<br>


                        <button class="btn btn-danger" type="submit">Удалить</button>

                    </form>

                </div>
          </div>
        </div>
 </div>



{% endblock content %}