{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}

<table class="table table-striped shadow">
        <thead>
          <tr class="table-secondary">
            <th>Видео</th>
            <th>Сеанс записи ID</th>
            <th>Описание</th>
          </tr>
        </thead>
        <tbody>
         {% for v in video_req%}
          <tr>
            <td><video width="400" height="300" controls="controls" >
   <source src="{{v.video_file.url}}" >
   Тег video не поддерживается вашим браузером.
  </video></td>
            <td>{{ v.seans }}<br>
            {{v.id_of_digitl_media}}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>




{% endblock content %}l>